.new-question-container{
    width: 60%;
    height: 70vh;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    border-radius: 15px;
    margin: 3%;

    align-items: center;
}

.large-input-field{
    !important;
    height: 200px;
    width: 400px;
}

.tuple-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    width: 90%;
}

.single-button-container{
    width: 90%;
    left: 0;
}

.button-block-container{
    width: 80%;
    padding-left: 2%;
}

.little-text-container{
    width: 25%;
    left: 0;
}

.Chosen-tag-coontainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    width: 90%;

    margin: 2px;
}

.Single-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

    padding: 1%;
    margin: 1%;

    width: auto;
    height: 5vh;

    border-radius: 15px;
}