{% extends "HW1/base.html" %}
{% load static %}

{% block content %}
<div class="columnflex">
    <nav class="NavInfo">
    <ul class="height100">
    <div class = "DarkGradient main-question-container">
        <div class = "images-buttons-container">
            <div class="user-avatar">
                        <img src = "/{{ profile.avatar }}" class="avatar-128 bg-primary rounded-circle" alt="avatar">
            </div>
        </div>
        <div class="text-container">
            <a class="GoldenFont golden-link" href="{% url 'profileById' profile.id %}">{{profile.user.username}}</a>
            <p class="GoldenFont golden-link">{{profile.user.email}}</p>
        <div class="BeautifulWhitetext">
            <p>{{ This_user_asked }} {{questionum }} {{ questions }}</p>
            <p>{{ This_user_left }} {{commentnum}} {{ comments }}</p>
        </div>
        </div>
        </div>
    <div class = "align-items-center CommentBar">
        <p class="BeautifulWhitetext DarkGradient rounded-3">{{ questions }}: </p>
    </div>

    {% for question in questionlist %}
    <div class = "DarkGradient question-container">
        <div class = "images-buttons-container">
            <div class="user-avatar">
                        <img src = "/{{ question.user.avatar }}" class="avatar-128 bg-primary rounded-circle" alt="avatar">
            </div>
            <div class="buttons">
                <div class="columnflex align-items-center">
                    {% if question.is_liked %}
                        <button class = "bg-blue btn rounded-5" data-id = "{{ question.id }}" data-like = 1>👍</button>
                    {% else %}
                        <button class = "btn rounded-5 bg-white" data-id = "{{ question.id }}" data-like = 1>👍</button>
                    {% endif %}
                    <p class="BeautifulWhitetext">{{question.likenum}}</p>
                </div>
                <div class="columnflex align-items-center">
                    {% if question.is_disliked %}
                        <button class = "bg-blue btn rounded-5" data-id = "{{ question.id }}" data-like = 0>👎</button>
                    {% else %}
                        <button class = "btn rounded-5 bg-white" data-id = "{{ question.id }}" data-like = 0>👎</button>
                    {% endif %}
                    <p class="BeautifulWhitetext">{{question.dislikenum}}</p>
                </div>
            </div>
        </div>
        <div class="text-container">
            <a class="GoldenFont golden-link" href="{% url 'questionById' question.id %}">{{question.question_name}}</a>
            <div class="BeautifulWhitetext"><p>{{question.question_description}}</p></div>
            <div class = "">
                <div class="GoldenFont tag-container">tags:
                        {% for tag in question.taglist.all %}
                            <a href = "{% url 'questionByTag' tag %}" class="BeautifulWhitetext white-link">{{tag}},  </a>
                        {% endfor %}
                </div>
                </div>
        </div>
    </div>
    {% endfor %}
    {% include "HW1/paginator.html" %}
    </ul></nav>
</div>
<script src = "{% static 'HW1/js/likes.js'  %}"></script>
{% endblock %}
