{% extends "HW1/base.html" %}

{% load static %}

{% block content %}
<div class="registration-container DarkGradient">
    <div class="row rowflex nowrap">
        <div class="BeautifulRedtext Mistake col-6" id="mistake-container">New Question</div>
        <div class="BeautifulRedtext Mistake col-6" id="mistake-container-2">New Question</div>
    </div>
    <div class="rowflex tuple-container">
        <div class="GoldenFont little-text-container">Login: </div>
        <div class="button-block-container">
          <input type="text" class="form-control " placeholder="Input Login">
        </div>
    </div>
    <div class="rowflex tuple-container">
        <div class="GoldenFont little-text-container">Email: </div>
        <div class="button-block-container">
          <input type="text" class="form-control " placeholder="Input Email" id="email">
        </div>
    </div>
    <div class="rowflex tuple-container">
    </div>
    <div class="rowflex tuple-container">
        <div class="GoldenFont little-text-container">Password: </div>
        <div class="button-block-container">
          <input type="password" class="form-control" id="pass1" placeholder="Input Password">
        </div>
    </div>
    <div class="rowflex tuple-container">
        <p class="GoldenFont little-text-container">Repeat: </p>
        <div class="button-block-container">
          <input type="password" class="form-control" id="pass2" placeholder="Input Password Again">
        </div>
    </div>
    <div class="left-align tuple-container">
        <div class="GoldenFont little-text-container">Avatar: </div>
        <div class="user-avatar">
            {% if link == "none" %}
                <img src = "{% static 'HW1/img/unregistered.png' %}" class="avatar avatar-128 rounded-circle" alt="avatar">
            {% else %}
                <img src = {{link}} class="avatar avatar-128 rounded-circle" alt="avatar">
            {% endif %}
        </div>
    </div>
    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />

    <div class="tuple-button-container">
        <button type="button" class="btn btn-light">Register</button>
        <button type="button" class="btn btn-light" onclick="OpenLoginPage()">Log in</button>
    </div>
</div>
<script src = "{% static 'HW1/js/registration.js' %}"></script>
{% endblock %}
