{% load static %}
<!DOCTYPE html>
<body>
    <div class="DarkGradient tagWindow">
        <h3 class="GoldenFont">Popular Tags</h3>
        <div class = "tag-container">
            {% for tag in taglist %}
                <p class="BeautifulWhitetext">
                    <a href = "{% url 'questionByTag' tag %}" class="BeautifulWhitetext white-link">{{tag}},  </a>
                </p>
            {% endfor %}
        </div>
        <h3 class="GoldenFont">Best Members</h3>
        <div class = "tag-container">
            {% for member in members %}
                <p class="BeautifulWhitetext">
                     <a class="BeautifulWhitetext white-link" href="{% url 'profileById' member.user.id %}">{{member.user}}</a>
                </p>
            {% endfor %}
        </div>
    </div>
</body>
</html>